h2{
    color: red;
    background-color: aqua;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
   
}
.link-tag{
    padding: 20px;
    border-radius:10px;
    background-color: lightblue;
   
   

}