h2{
    color: red;
    background-color: aqua;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    background-color: lightblue;
   
}
.link-tag{
    padding: 10px 20px;
    margin: 0 10px;
    border-radius:10px;

}